In [3]:
import pandas as pd
import random

In [9]:
ratings = pd.read_csv("C:/Users/PCS/Desktop/dsecodingproject_Chaima/Dataset/ratings.tsv", sep="\t")
print(ratings.head())

      tconst  averageRating  numVotes
0  tt0000001            5.7      2097
1  tt0000002            5.6       282
2  tt0000003            6.5      2117
3  tt0000004            5.4       182
4  tt0000005            6.2      2847

In [17]:
top_ratings = ratings.sort_values(by="numVotes", ascending=False).head(1000)
print(top_ratings.head())

           tconst  averageRating  numVotes
84119   tt0111161            9.3   2959782
257445  tt0468569            9.0   2941366
673751  tt1375666            8.8   2610180
100945  tt0137523            8.8   2391839
448806  tt0944947            9.2   2361522

In [19]:
top_ratings.to_csv("C:/Users/PCS/Desktop/dsecodingproject_Chaima/Dataset/top_ratings.tsv", sep="\t", index=False)

In [30]:
movies = pd.read_csv("C:/Users/PCS/Desktop/dsecodingproject_Chaima/Dataset/movie.tsv", sep="\t",usecols=['tconst', 'primaryTitle','startYear','runtimeMinutes', 'genres'])
print(movies.head())

      tconst            primaryTitle startYear runtimeMinutes  \
0  tt0000001              Carmencita      1894              1
1  tt0000002  Le clown et ses chiens      1892              5
2  tt0000003            Poor Pierrot      1892              5
3  tt0000004             Un bon bock      1892             12
4  tt0000005        Blacksmith Scene      1893              1

                     genres
0         Documentary,Short
1           Animation,Short
2  Animation,Comedy,Romance
3           Animation,Short
4              Comedy,Short

In [32]:
top_movies = movies[movies['tconst'].isin(top_ratings['tconst'])]
print(top_movies.head())

          tconst        primaryTitle startYear runtimeMinutes  \
27477  tt0027977        Modern Times      1936             87
30819  tt0031381  Gone with the Wind      1939            238
31559  tt0032138    The Wizard of Oz      1939            102
32864  tt0033467        Citizen Kane      1941            119
33963  tt0034583          Casablanca      1942            102

                         genres
27477      Comedy,Drama,Romance
30819         Drama,Romance,War
31559  Adventure,Family,Fantasy
32864             Drama,Mystery
33963         Drama,Romance,War

In [34]:
top_movies.to_csv("C:/Users/PCS/Desktop/dsecodingproject_Chaima/Dataset/top_movies.tsv", sep="\t", index=False)

In [41]:
crew = pd.read_csv("C:/Users/PCS/Desktop/dsecodingproject_Chaima/Dataset/crew.tsv", sep="\t",usecols=['tconst', 'nconst', 'category','characters'])
print(crew.head())

      tconst     nconst         category characters
0  tt0000001  nm1588970             self   ["Self"]
1  tt0000001  nm0005690         director         \N
2  tt0000001  nm0005690         producer         \N
3  tt0000001  nm0374658  cinematographer         \N
4  tt0000002  nm0721526         director         \N

In [42]:
top_crew = crew[crew['tconst'].isin(top_ratings['tconst'])]
print(top_crew.head())

           tconst     nconst category            characters
307109  tt0027977  nm0000122    actor  ["A Factory Worker"]
307110  tt0027977  nm0002104  actress           ["A Gamin"]
307111  tt0027977  nm0074788    actor   ["Cafe Proprietor"]
307112  tt0027977  nm0761866    actor          ["Big Bill"]
307113  tt0027977  nm0174682    actor          ["Mechanic"]

In [45]:
top_crew.to_csv("C:/Users/PCS/Desktop/dsecodingproject_Chaima/Dataset/top_crew.tsv", sep="\t", index=False)

In [47]:
person = pd.read_csv("C:/Users/PCS/Desktop/dsecodingproject_Chaima/Dataset/person.tsv", sep="\t")
print(person.head())

      nconst      primaryName birthYear deathYear  \
0  nm0000001     Fred Astaire      1899      1987
1  nm0000002    Lauren Bacall      1924      2014
2  nm0000003  Brigitte Bardot      1934        \N
3  nm0000004     John Belushi      1949      1982
4  nm0000005   Ingmar Bergman      1918      2007

                    primaryProfession                           knownForTitles
0        actor,miscellaneous,producer  tt0050419,tt0072308,tt0053137,tt0027125
1  actress,soundtrack,archive_footage  tt0037382,tt0075213,tt0117057,tt0038355
2   actress,music_department,producer  tt0057345,tt0049189,tt0056404,tt0054452
3       actor,writer,music_department  tt0072562,tt0077975,tt0080455,tt0078723
4               writer,director,actor  tt0050986,tt0069467,tt0083922,tt0050976

In [49]:
top_person = person[person['nconst'].isin(top_crew['nconst'])]
print(top_person.head())

       nconst      primaryName birthYear deathYear  \
5   nm0000006   Ingrid Bergman      1915      1982
6   nm0000007  Humphrey Bogart      1899      1957
7   nm0000008    Marlon Brando      1924      2004
15  nm0000016  Georges Delerue      1925      1992
19  nm0000020      Henry Fonda      1905      1982

                  primaryProfession                           knownForTitles
5       actress,producer,soundtrack  tt0034583,tt0036855,tt0038109,tt0038787
6      actor,producer,miscellaneous  tt0034583,tt0043265,tt0037382,tt0042593
7             actor,director,writer  tt0078788,tt0068646,tt0047296,tt0070849
15  composer,music_department,actor  tt0091763,tt0096320,tt0069946,tt0080610
19     actor,producer,miscellaneous  tt0050083,tt0082846,tt0032551,tt0051207

In [51]:
top_person.to_csv("C:/Users/PCS/Desktop/dsecodingproject_Chaima/Dataset/top_person.tsv", sep="\t", index=False)